{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}


{% elsif page.sidebar == "product1_sidebar" %}
{% assign sidebar = site.data.sidebars.product1_sidebar.entries %}

{% elsif page.sidebar == "product2_sidebar" %}
{% assign sidebar = site.data.sidebars.product2_sidebar.entries %}

{% elsif page.sidebar == "mydoc_sidebar" %}
{% assign sidebar = site.data.sidebars.mydoc_sidebar.entries %}


{% elsif page.sidebar == "act_sidebar" %}
{% assign sidebar = site.data.sidebars.act_sidebar.entries %}

{% elsif page.sidebar == "cap_sidebar" %}
{% assign sidebar = site.data.sidebars.cap_sidebar.entries %}

{% elsif page.sidebar == "clm_sidebar" %}
{% assign sidebar = site.data.sidebars.clm_sidebar.entries %}

{% elsif page.sidebar == "cnc_sidebar" %}
{% assign sidebar = site.data.sidebars.cnc_sidebar.entries %}

{% elsif page.sidebar == "dyr_sidebar" %}
{% assign sidebar = site.data.sidebars.dyr_sidebar.entries %}

{% elsif page.sidebar == "env_sidebar" %}
{% assign sidebar = site.data.sidebars.env_sidebar.entries %}

{% elsif page.sidebar == "exp_sidebar" %}
{% assign sidebar = site.data.sidebars.exp_sidebar.entries %}

{% elsif page.sidebar == "grc_sidebar" %}
{% assign sidebar = site.data.sidebars.grc_sidebar.entries %}

{% elsif page.sidebar == "minsky_sidebar" %}
{% assign sidebar = site.data.sidebars.minsky_sidebar.entries %}

{% elsif page.sidebar == "nor_sidebar" %}
{% assign sidebar = site.data.sidebars.nor_sidebar.entries %}

{% elsif page.sidebar == "res_sidebar" %}
{% assign sidebar = site.data.sidebars.res_sidebar.entries %}

{% elsif page.sidebar == "urb_sidebar" %}
{% assign sidebar = site.data.sidebars.urb_sidebar.entries %}

{% elsif page.sidebar == "var_sidebar" %}
{% assign sidebar = site.data.sidebars.var_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}



{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "mydoc" %}
{% assign sidebar_pdf = site.data.sidebars.mydoc_sidebar.entries %}
{% endif %}

{% if site.product == "product1" %}
{% assign sidebar_pdf = site.data.sidebars.product1_sidebar.entries %}
{% endif %}

{% if site.product == "product2" %}
{% assign sidebar_pdf = site.data.sidebars.product2_sidebar.entries %}
{% endif %}
